body {
	background-color: #2FA5EF
}

div {
	padding: 1.5rem;
	margin: 1.5rem;
	
	
}

span {
	text-align: center;
	width: 45%;
	margin: 2rem;
	float: left;
}
.center {
	text-align:center;
	vertical-align:middle;
}

.border {
	border: 0.3rem solid #FFFFFF;
	border-radius: 2rem;	
}


.wrap {
	background-color: #0C72BD;
	padding: 2rem;

}


.section-1 {
	background-color: #0D83CA;
	padding: 2rem;
	text-align: center;
}

.tasks {
	background-color: #1E94DE;
	padding: 2rem;
	
}

.unordered-list {
	background-color: #0D83CD;
	padding: 2rem;
}

.main-header {
	
}

.main-footer {
	
}